<router-outlet></router-outlet>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Notas</a>
    </div>
</nav>
<div align="center" class="container">
    <h1>Agrega una nueva nota...</h1>
    <div class="row">
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" #titulo>
            <label for="first_name">Titulo</label>
        </div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" #descripcion></textarea>
                    <label for="textarea1">Descripcion</label>
                </div>
            </div>
        </form>
    </div>
    <a class="waves-effect waves-light btn-large btn" (click)="miFuncion(titulo, descripcion)">Crear Nota</a>
    <h2>Notas</h2>
    <ul class="collapsible">
        <li *ngFor="let item of res">
            <div class="collapsible-header"><i class="material-icons">notes</i>{{ item.tit }}</div>
            <div class="collapsible-body"><span>{{ item.des }}</span></div>
        </li>
    </ul>
</div>